# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

data1 = [{'Apples': 30, 'Bananas': 21}]
data2 = [[30, 21], [41, 34]]

In [4]:
dt1 = pd.DataFrame(data1)
dt2 = pd.DataFrame(data2, index = ['2017 Sales', '2018 Sales'], columns = ['Apples', 'Bananas'])

print(dt1)
print(dt2)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [6]:
data3 = {'city':['Austin', 'Dallas', 'Austin', 'Dallas'],
         'visitor': [139, 237, 139, 456],
         'weekday': ['Sun', 'Sun', 'Mon', 'Mon']}

dt3 = pd.DataFrame(data3)
dt3

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      139     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [8]:
for day in pd.unique(dt3['weekday']):
    print(day, dt3[dt3['weekday'] == day]['visitor'].mean())

Sun 188.0
Mon 297.5